---
import Pollo_especial from "./img/menu-img/pollo-especial.png"
import Pollo_familiar from "./img/menu-img/pollo-familiar.png"
import Pollo_granfamiliar from "./img/menu-img/pollo-gran-familiar.png"
import Frape from "./img/menu-img/frape.png"
import Frape_caramelo from "./img/menu-img/frepe-caramelo.png"
import Frape_chocolate from "./img/menu-img/frape-chocolate.png"
import Postre_muffin from "./img/menu-img/postre-muffin.png"
import Postre_muffinchocolate from "./img/menu-img/postre-muffin-chocolate.png"
import Tres_leches from "./img/menu-img/postre-tress-leches.png"

---

<section class="menu" id="menu">
    <div class="content">
        <div class="header-text">
            <p>Algo En Especial?</p>
            <h3>elige y crea tu propio combo!</h3>
        </div>

        <div class="food">

            <div class="card">
                <div class="img">
                    <img src= {Pollo_especial} alt="pollo" />
                    <h3>Especial</h3>
                </div>
                <div class="txt">
                    <ul class="detalles">
                        <li>2 Piezas de TipTop</li>
                        <li>1 Papas Fritas</li>
                        <li>1 Ensalada de Repollo</li>
                        <li>1 Panecillos</li>
                        <li>1 Gaseosa 500ml</li>
                    </ul>

                </div>

                <a href="https://www.tiptoprestaurantes.com/combos" target="_blank" class="btn-menu">Ordena Ahora</a>
            </div>

            <div class="card">
                <div class="img">
                    <img src= {Pollo_familiar} alt="" srcset="">
                    <h3>Especial familiar</h3>
                </div>
                 <ul class="detalles">
                        <li>6 Piezas de TipTop</li>
                        <li>2 Papas Fritas</li>
                        <li>2 Ensalada de Repollo</li>
                        <li>2 Panecillos</li>
                        <li>1 Gaseosa 2lts</li>
                    </ul>

                    <a href="https://www.tiptoprestaurantes.com/combos" target="_blank" class="btn-menu">Ordena Ahora</a>
            </div>

            <div class="card">
                <div class="img">
                    <img src= {Pollo_granfamiliar} alt="" srcset="">
                    <h3>Especial Gran Familiar</h3>
                </div>
                <ul class="detalles">
                        <li>6 Piezas de TipTop</li>
                        <li>3 Papas Fritas</li>
                        <li>3 Ensalada de Repollo</li>
                        <li>3 Panecillos</li>
                        <li>1 Gaseosa 2lts</li>
                    </ul>

                    <a href="https://www.tiptoprestaurantes.com/combos" target="_blank" class="btn-menu">Ordena Ahora</a>
            </div>

            <div class="card">
                <div class="img">
                    <img src= {Frape} alt="" srcset="">
                    <h3>Frape</h3>
                </div>
                     <ul class="detalles">
                        <li>La cantida de <span>Frapes</span> que el cliente desee comprar</li>
                    </ul>

                    <a href="https://www.tiptoprestaurantes.com/top-café" target="_blank" class="btn-menu">Ordena Ahora</a>
                </div>

             <div class="card">
                <div class="img">
                    <img src= {Frape_caramelo} alt="" srcset="">
                    <h3>Frape de Caramelo</h3>
                </div>
                <ul class="detalles">
                        <li>La cantida de <span>Frapes de Caramelo</span> que el cliente desee comprar</li>
                    </ul>

                    <a href="https://www.tiptoprestaurantes.com/top-café" target="_blank" class="btn-menu">Ordena Ahora</a>
            </div>

             <div class="card">
                <div class="img">
                    <img src= {Frape_chocolate} alt="" srcset="">
                    <h3>Frape de Chocolate</h3>
                </div>
                <ul class="detalles">
                        <li>La cantida de <span>Frapes de Chocolate</span> que el cliente desee comprar</li>
                </ul>

                <a href="https://www.tiptoprestaurantes.com/top-café" target="_blank" class="btn-menu">Ordena Ahora</a>
            </div>

             <div class="card">
                <div class="img">
                    <img src= {Postre_muffin} alt="" srcset="">
                    <h3>Muffin</h3>
                </div>
                <ul class="detalles">
                        <li>La cantida de <span>Muffin</span> que el cliente desee comprar</li>
                    </ul>

                    <a href="https://www.tiptoprestaurantes.com/top-café" target="_blank" class="btn-menu">Ordena Ahora</a>
            </div>

             <div class="card">
                <div class="img">
                    <img src= {Postre_muffinchocolate} alt="" srcset="">
                    <h3>Muffin de Chocolate</h3>
                </div>
                <ul class="detalles">
                        <li>La cantida de <span>Muffin de Chocolate</span> que el cliente desee comprar</li>
                    </ul>

                    <a href="https://www.tiptoprestaurantes.com/top-café" target="_blank" class="btn-menu">Ordena Ahora</a>
            </div>

             <div class="card">
                <div class="img">
                    <img src= {Tres_leches} alt="" srcset="">
                    <h3>Tres Leches</h3>
                </div>
                <ul class="detalles">
                        <li>La cantida de <span>Tres Leches</span> que el cliente desee comprar</li>
                    </ul>

                    <a href="https://www.tiptoprestaurantes.com/top-café" target="_blank" class="btn-menu">Ordena Ahora</a>
            </div>

        </div>
                    
    </div>

</section>

<style>
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@500&display=swap');

.menu{
    position: relative;
    height: auto;
    width: 100%;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 100px 0;
}

.content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-text p{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: crimson;
    margin-bottom: 15px;
}

.header-text h3{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto Slab', seri;
    text-transform: uppercase;
}

.food{
    position: relative;
    width: 1000px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px 40px;
}

.card{
    position: relative;
    width: 250px;
    height: auto;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    padding-bottom: 35px;
}

.img{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img h3{
    font-size: 1.5em;
    font-family: 'Roboto Slab', seri;
    font-weight: 500;
    color: #F12222;
    margin-bottom: 15px;
}

.detalles{
    max-width: 150px;
}

.btn-menu{
    margin-top: 30px;
    padding: 15px;
    font-family: 'Roboto Slab', seri;
    font-weight: 500;
    font-size: .90em;
    background-color: #FFA822;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
    transition: all .25s;
}

.btn-menu:hover{
    background-color: #E99616;
}

@media (max-width: 500px){
    .header-text h3{
        font-size: 20px;
    }
}



</style>